:root {
  --primary-color: #06c;
  --primary-color-light-1: #2994ff;
  --primary-color-light-2: #0075eb;
  --primary-color-dark-1: #005cb8;
  --primary-color-dark-2: #00478f;
  --background-color-1: #fffdfd;
  --background-color-2: #ffc0c0;
  --background-color-3: #ffa2a2;
  --content-background-color: #fff;
  --text-color-1: #5a5a72;
  --text-color-2: #55556c;
  --text-color-3: #64647f;
  --text-color-4: #9090a8;
  --text-color-5: #c0c0cd;
  --text-color-6: #efeff3;
  --toc-text-color: #80809b;
  --badge-color: #ffdfdf;
  --badge-background-color: #a0a0b4;
  --border-color: #ff6565;
  --selection-color: #0075eb;
  --shadow-color: rgba(0,0,0,0.2);
  --shadow-hover-color: rgba(0,0,0,0.3);
  --scrollbar-color: #71718f;
  --scrollbar-background-color: #ffcaca;
  --toc-scrollbar-color: rgba(100,100,127,0.1);
  --copyright-info-color: #c03;
  --avatar-background-color: #005cb8;
  --header-transparent-background-1: rgba(255,253,253,0.28);
  --header-transparent-background-2: rgba(255,253,253,0.4);
  --pjax-progress-bar-color: linear-gradient(45deg, #f10006, #ef5b00, #e59c01, #19ca05, #00cab5, #0264c8, #c303c3);
  --article-aging-tips-color: #b78d0f;
  --article-aging-tips-background-color: rgba(183,141,15,0.1);
  --article-aging-tips-border-color: rgba(183,141,15,0.6);
}
@media (prefers-color-scheme: light) {
  :root {
    --primary-color: #06c;
    --primary-color-light-1: #2994ff;
    --primary-color-light-2: #0075eb;
    --primary-color-dark-1: #005cb8;
    --primary-color-dark-2: #00478f;
    --background-color-1: #fffdfd;
    --background-color-2: #ffc0c0;
    --background-color-3: #ffa2a2;
    --content-background-color: #fff;
    --text-color-1: #5a5a72;
    --text-color-2: #55556c;
    --text-color-3: #64647f;
    --text-color-4: #9090a8;
    --text-color-5: #c0c0cd;
    --text-color-6: #efeff3;
    --toc-text-color: #80809b;
    --badge-color: #ffdfdf;
    --badge-background-color: #a0a0b4;
    --border-color: #ff6565;
    --selection-color: #0075eb;
    --shadow-color: rgba(0,0,0,0.2);
    --shadow-hover-color: rgba(0,0,0,0.3);
    --scrollbar-color: #71718f;
    --scrollbar-background-color: #ffcaca;
    --toc-scrollbar-color: rgba(100,100,127,0.1);
    --copyright-info-color: #c03;
    --avatar-background-color: #005cb8;
    --header-transparent-background-1: rgba(255,253,253,0.28);
    --header-transparent-background-2: rgba(255,253,253,0.4);
    --pjax-progress-bar-color: linear-gradient(45deg, #f10006, #ef5b00, #e59c01, #19ca05, #00cab5, #0264c8, #c303c3);
    --article-aging-tips-color: #b78d0f;
    --article-aging-tips-background-color: rgba(183,141,15,0.1);
    --article-aging-tips-border-color: rgba(183,141,15,0.6);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #06c;
    --primary-color-light-1: #2994ff;
    --primary-color-light-2: #0075eb;
    --primary-color-dark-1: #005cb8;
    --primary-color-dark-2: #00478f;
    --background-color-1: #383940;
    --background-color-2: #3d3f46;
    --background-color-3: #43444c;
    --content-background-color: #37383f;
    --text-color-1: #c5c5cc;
    --text-color-2: #c1c1c9;
    --text-color-3: #bebec6;
    --text-color-4: #9595a2;
    --text-color-5: #5b5b67;
    --text-color-6: #36363e;
    --toc-text-color: #9f9fab;
    --badge-color: #4a4c55;
    --badge-background-color: #d8d8dd;
    --border-color: #6f717e;
    --selection-color: #005ebc;
    --shadow-color: rgba(128,128,128,0.2);
    --shadow-hover-color: rgba(128,128,128,0.28);
    --scrollbar-color: #32333a;
    --scrollbar-background-color: #5c5e6a;
    --toc-scrollbar-color: rgba(190,190,198,0.1);
    --copyright-info-color: #a30029;
    --avatar-background-color: #004a93;
    --header-transparent-background-1: rgba(56,57,64,0.28);
    --header-transparent-background-2: rgba(56,57,64,0.4);
    --pjax-progress-bar-color: linear-gradient(45deg, #ea404a, #ea722f, #e9a71f, #67e559, #18ecec, #1b85f1, #ee1dee);
    --article-aging-tips-color: #ecc34d;
    --article-aging-tips-background-color: rgba(236,195,77,0.1);
    --article-aging-tips-border-color: rgba(236,195,77,0.6);
  }
}
.light-mode {
  --primary-color: #06c;
  --primary-color-light-1: #2994ff;
  --primary-color-light-2: #0075eb;
  --primary-color-dark-1: #005cb8;
  --primary-color-dark-2: #00478f;
  --background-color-1: #fffdfd;
  --background-color-2: #ffc0c0;
  --background-color-3: #ffa2a2;
  --content-background-color: #fff;
  --text-color-1: #5a5a72;
  --text-color-2: #55556c;
  --text-color-3: #64647f;
  --text-color-4: #9090a8;
  --text-color-5: #c0c0cd;
  --text-color-6: #efeff3;
  --toc-text-color: #80809b;
  --badge-color: #ffdfdf;
  --badge-background-color: #a0a0b4;
  --border-color: #ff6565;
  --selection-color: #0075eb;
  --shadow-color: rgba(0,0,0,0.2);
  --shadow-hover-color: rgba(0,0,0,0.3);
  --scrollbar-color: #71718f;
  --scrollbar-background-color: #ffcaca;
  --toc-scrollbar-color: rgba(100,100,127,0.1);
  --copyright-info-color: #c03;
  --avatar-background-color: #005cb8;
  --header-transparent-background-1: rgba(255,253,253,0.28);
  --header-transparent-background-2: rgba(255,253,253,0.4);
  --pjax-progress-bar-color: linear-gradient(45deg, #f10006, #ef5b00, #e59c01, #19ca05, #00cab5, #0264c8, #c303c3);
  --article-aging-tips-color: #b78d0f;
  --article-aging-tips-background-color: rgba(183,141,15,0.1);
  --article-aging-tips-border-color: rgba(183,141,15,0.6);
}
.dark-mode {
  --primary-color: #06c;
  --primary-color-light-1: #2994ff;
  --primary-color-light-2: #0075eb;
  --primary-color-dark-1: #005cb8;
  --primary-color-dark-2: #00478f;
  --background-color-1: #383940;
  --background-color-2: #3d3f46;
  --background-color-3: #43444c;
  --content-background-color: #37383f;
  --text-color-1: #c5c5cc;
  --text-color-2: #c1c1c9;
  --text-color-3: #bebec6;
  --text-color-4: #9595a2;
  --text-color-5: #5b5b67;
  --text-color-6: #36363e;
  --toc-text-color: #9f9fab;
  --badge-color: #4a4c55;
  --badge-background-color: #d8d8dd;
  --border-color: #6f717e;
  --selection-color: #005ebc;
  --shadow-color: rgba(128,128,128,0.2);
  --shadow-hover-color: rgba(128,128,128,0.28);
  --scrollbar-color: #32333a;
  --scrollbar-background-color: #5c5e6a;
  --toc-scrollbar-color: rgba(190,190,198,0.1);
  --copyright-info-color: #a30029;
  --avatar-background-color: #004a93;
  --header-transparent-background-1: rgba(56,57,64,0.28);
  --header-transparent-background-2: rgba(56,57,64,0.4);
  --pjax-progress-bar-color: linear-gradient(45deg, #ea404a, #ea722f, #e9a71f, #67e559, #18ecec, #1b85f1, #ee1dee);
  --article-aging-tips-color: #ecc34d;
  --article-aging-tips-background-color: rgba(236,195,77,0.1);
  --article-aging-tips-border-color: rgba(236,195,77,0.6);
}
